In [1]:
#import dependecies
import pandas as pd

In [3]:
raw_data = '../data/rawdata/NYPD_Motor_Vehicle_Collisions.csv'

nyc_data = pd.read_csv(raw_data)

nyc_data

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/16/2019,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,NaN,...,NaN,NaN,NaN,NaN,4098779,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,03/16/2019,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4097559,Sedan,Garbage or Refuse,NaN,NaN,NaN
2,03/16/2019,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,NaN,...,Unspecified,NaN,NaN,NaN,4098023,Sedan,Sedan,NaN,NaN,NaN
3,03/16/2019,0:00,NaN,NaN,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098377,Sedan,Taxi,NaN,NaN,NaN
4,03/16/2019,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097667,Sedan,Sedan,NaN,NaN,NaN
5,03/16/2019,0:00,NaN,NaN,NaN,NaN,NaN,BELT PARKWAY RAMP,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4097655,Sedan,Sedan,NaN,NaN,NaN
6,03/16/2019,0:00,NaN,NaN,40.684647,-73.868700,"(40.684647, -73.8687)",FULTON STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098794,Sedan,Sedan,NaN,NaN,NaN
7,03/16/2019,0:10,QUEENS,11103,40.758316,-73.910690,"(40.758316, -73.91069)",48 STREET,31 AVENUE,NaN,...,NaN,NaN,NaN,NaN,4099230,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
8,03/16/2019,0:11,MANHATTAN,10006,40.709686,-74.011680,"(40.709686, -74.01168)",CHURCH STREET,LIBERTY STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097499,Station Wagon/Sport Utility Vehicle,Box Truck,NaN,NaN,NaN
9,03/16/2019,0:15,NaN,NaN,40.699930,-73.961880,"(40.69993, -73.96188)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4098619,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
10,03/16/2019,0:20,BRONX,10451,NaN,NaN,NaN,EAST 138 STREET,EXTERIOR STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097700,Sedan,Sedan,NaN,NaN,NaN
11,03/16/2019,0:30,QUEENS,11434,40.667430,-73.766760,"(40.66743, -73.76676)",NORTH CONDUIT AVENUE,FARMERS BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4098007,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
12,03/16/2019,0:30,NaN,NaN,40.728855,-73.927820,"(40.728855, -73.92782)",BROOKLYN QUEENS EXPRESSWAY,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4097769,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
13,03/16/2019,0:35,MANHATTAN,10022,40.763588,-73.971420,"(40.763588, -73.97142)",EAST 59 STREET,MADISON AVENUE,NaN,...,Traffic Control Disregarded,NaN,NaN,NaN,4098034,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
14,03/16/2019,0:43,MANHATTAN,10065,40.759910,-73.958820,"(40.75991, -73.95882)",EAST 61 STREET,YORK AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4098030,Taxi,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
15,03/16/2019,0:44,QUEENS,11385,40.692978,-73.901920,"(40.692978, -73.90192)",NaN,NaN,56-05 COOPER AVENUE,...,Unspecified,NaN,NaN,NaN,4098126,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
16,03/16/2019,0:45,NaN,NaN,40.721650,-73.941960,"(40.72165, -73.94196)",MEEKER AVENUE,MONITOR STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097495,Sedan,Sedan,NaN,NaN,NaN
17,03/16/2019,10:00,BROOKLYN,11207,40.669094,-73.897110,"(40.669094, -73.89711)",SUTTER AVENUE,GEORGIA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4098782,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
18,03/16/2019,10:00,QUEENS,11693,40.586506,-73.817730,"(40.586506, -73.81773)",BEACH 95 STREET,ROCKAWAY FREEWAY,NaN,...,NaN,NaN,NaN,NaN,4097592,Sedan,NaN,NaN,NaN,NaN
19,03/16/2019,10:00,NaN,NaN,40.683582,-73.953964,"(40.683582, -73.953964)",BEDFORD AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098815,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
20,03/16/2019,10:00,NaN,NaN,40.666610,-73.876144,"(40.66661, -73.876144)",HEGEMAN AVENUE,NaN,NaN,...,NaN,NaN,NaN,NaN,4098791,Sedan,NaN,NaN,NaN,NaN
21,03/16/2019,10:00,NaN,NaN,40.765520,-73.980040,"(40.76552, -73.98004)",WEST 57 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098352,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
22,03/16/2019,10:11,NaN,NaN,40.690907,-73.955420,"(40.690907, -73.95542)",DE KALB AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4098601,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
23,03/16/2019,10:15,BRONX,10460,40.845985,-73.884476,"(40.845985, -73.884476)",EAST 180 STREET,SOUTHERN BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,4098751,Sedan,NaN,NaN,NaN,NaN
24,03/16/2019,10:15,MANHATTAN,10065,40.765213,-73.970245,"(40.765213, -73.970245)",NaN,NaN,682 MADISON AVENUE,...,Unspecified,NaN,NaN,NaN,4097609,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
25,03/16/2019,10:15,NaN,NaN,40.762264,-73.785270,"(40.762264, -73.78527)",39 AVENUE,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4097576,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
26,03/16/2019,10:19,BROOKLYN,11222,40.722107,-73.942990,"(40.722107, -73.94299)",NaN,NaN,75 NORTH HENRY STREET,...,Unspecified,NaN,NaN,NaN,4097742,Sedan,NaN,NaN,NaN,NaN
27,03/16/2019,10:20,BROOKLYN,11215,40.667027,-73.995200,"(40.667027, -73.9952)",3 AVENUE,PROSPECT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4097604,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
28,03/16/2019,10:20,BROOKLYN,11217,40.680733,-73.974510,"(40.680733, -73.97451)",6 AVENUE,BERGEN STREET,NaN,...,Unspecified,NaN,NaN,NaN,4097597,Box Truck,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
29,03/16/2019,10:20,NaN,NaN,40.658070,-73.960434,"(40.65807, -73.960434)",FLATBUSH AVENUE,NaN,NaN,...,Driver Inattention/Distraction,NaN,NaN,NaN,4097770,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462084,07/01/2012,8:27,BROOKLYN,11216,40.680857,-73.938546,"(40.6808571, -73.9385457)",DECATUR STREET,ALBANY AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,179414,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1462085,07/01/2012,8:27,NaN,NaN,40.708797,-73.727620,"(40.7087971, -73.72762)",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,3016724,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1462086,07/01/2012,8:30,NaN,NaN,NaN,NaN,NaN,WEST 181 STREET,RIVERSIDE DRIVE,NaN,...,NaN,NaN,NaN,NaN,70031,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
1462087,07/01/2012,8:34,BROOKLYN,11213,40.668798,-73.931120,"(40.6687978, -73.9311201)",EASTERN PARKWAY,UTICA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,172551,PASSENGER VEHICLE,VAN,NaN,NaN,NaN
1462088,07/01/2012,8:37,QUEENS,11435,40.694545,-73.802112,"(40.6945453, -73.802112)",SOUTH ROAD,SUTPHIN BOULEVARD,NaN,...,NaN,NaN,NaN,NaN,208724,UNKNOWN,NaN,NaN,NaN,NaN
1462089,07/01/2012,8:43,NaN,NaN,NaN,NaN,NaN,HORACE HARDING EXPRESSWAY,UTOPIA PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,233142,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1462090,07/01/2012,8:58,BRONX,10466,40.891840,-73.862740,"(40.8918398, -73.8627401)",BRONX BOULEVARD,EAST 229 STREET,NaN,...,Unspecified,NaN,NaN,NaN,94868,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
1462091,07/01/2012,9:00,QUEENS,11101,40.744131,-73.927047,"(40.7441309, -73.9270473)",38 STREET,QUEENS BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,238643,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1462092,07/01/2012,9:00,MANHATTAN,10022,40.757859,-73.975592,"(40.7578587, -73.975592)",EAST 50 STREET,MADISON AVENUE,NaN,...,NaN,NaN,NaN,NaN,37634,TAXI,NaN,NaN,NaN,NaN
1462093,07/01/2012,9:15,BROOKLYN,11233,40.675380,-73.908196,"(40.6753803, -73.9081956)",PACIFIC STREET,EASTERN PARKWAY,NaN,...,Unspecified,NaN,NaN,NaN,160103,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1462094,07/01/2012,9:15,QUEENS,11421,40.696308,-73.851549,"(40.6963077, -73.8515486)",94 STREET,85 ROAD,NaN,...,Unspecified,NaN,NaN,NaN,203690,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1462095,07/01/2012,9:15,QUEENS,11429,40.711860,-73.735538,"(40.7118601, -73.7355383)",219 STREET,104 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219394,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1462096,07/01/2012,9:15,STATEN ISLAND,10310,40.634748,-74.112253,"(40.6347476, -74.1122528)",CASTLETON AVENUE,BEMENT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,284646,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1462097,07/01/2012,9:20,NaN,NaN,NaN,NaN,NaN,FOOD CENTER DRIVE,HALLECK STREET,NaN,...,NaN,NaN,NaN,NaN,76204,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN,NaN
1462098,07/01/2012,9:24,QUEENS,11411,40.690917,-73.728179,"(40.6909168, -73.7281786)",LINDEN BOULEVARD,234 STREET,NaN,...,Unspecified,NaN,NaN,NaN,219398,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1462099,07/01/2012,9:30,BRONX,10475,40.861637,-73.824326,"(40.8616372, -73.8243256)",HUNTER AVENUE,EARHART LANE,NaN,...,Unspecified,NaN,NaN,NaN,88535,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1462100,07/01/2012,9:30,BROOKLYN,11219,40.626826,-73.996790,"(40.626826, -73.9967902)",61 STREET,NEW UTRECHT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,129899,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1462101,07/01/2012,9:30,QUEENS,11368,40.755336,-73.843245,"(40.7553365, -73.8432452)",ROOSEVELT AVENUE,126 STREET,NaN,...,Unspecified,Unspecified,NaN,NaN,254997,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN
1462102,07/01/2012,9:30,BROOKLYN,11207,40.678163,-73.897477,"(40.6781627, -73.8974769)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,163374,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1462103,07/01/2012,9:39,BROOKLYN,11226,40.646518,-73.958105,"(40.6465177, -73.958105)",TILDEN AVENUE,FLATBUSH AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,147454,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1462104,07/01/2012,9:40,BRONX,10462,40.839882,-73.857658,"(40.8398819, -73.8576576)",METROPOLITAN AVENUE,MAPLE DRIVE,NaN,...,Unspecified,NaN,NaN,NaN,80827,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1462105,07/01/2012,9:40,MANHATTAN,10002,40.714069,-73.997504,"(40.7140687, -73.9975038)",DIVISION STREET,CATHERINE STREET,NaN,...,Driver Inexperience,NaN,NaN,NaN,5294,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
1462106,07/01/2012,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,NaN,...,Unspecified,NaN,NaN,NaN,245559,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
1462107,07/01/2012,9:40,QUEENS,11369,40.767470,-73.881859,"(40.7674704, -73.8818593)",23 AVENUE,88 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279641,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1462108,07/01/2012,9:40,QUEENS,11370,40.758743,-73.890690,"(40.7587426, -73.8906895)",31 AVENUE,77 STREET,NaN,...,Unspecified,NaN,NaN,NaN,279639,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
1462109,07/01/2012,9:45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Unspecified,NaN,NaN,NaN,2896726,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
1462110,07/01/2012,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,NaN,...,Unspecified,NaN,NaN,NaN,37635,VAN,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1462111,07/01/2012,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,219395,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
1462112,07/01/2012,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,NaN,...,Other Vehicular,NaN,NaN,NaN,44907,PASSENGER VEHICLE,TAXI,NaN,NaN,NaN
1462113,07/01/2012,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,85154,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [4]:
nyc_data.nunique()

DATE                                2450
TIME                                1440
BOROUGH                                5
ZIP CODE                             421
LATITUDE                          113257
LONGITUDE                          90779
LOCATION                          193779
ON STREET NAME                     11137
CROSS STREET NAME                  17514
OFF STREET NAME                   123048
NUMBER OF PERSONS INJURED             27
NUMBER OF PERSONS KILLED               7
NUMBER OF PEDESTRIANS INJURED         13
NUMBER OF PEDESTRIANS KILLED           4
NUMBER OF CYCLIST INJURED              5
NUMBER OF CYCLIST KILLED               3
NUMBER OF MOTORIST INJURED            27
NUMBER OF MOTORIST KILLED              6
CONTRIBUTING FACTOR VEHICLE 1         61
CONTRIBUTING FACTOR VEHICLE 2         61
CONTRIBUTING FACTOR VEHICLE 3         49
CONTRIBUTING FACTOR VEHICLE 4         39
CONTRIBUTING FACTOR VEHICLE 5         27
UNIQUE KEY                       1462114
VEHICLE TYPE CODE 1                  611
VEHICLE TYPE CODE 2                  559
VEHICLE TYPE CODE 3                  119
VEHICLE TYPE CODE 4                   68
VEHICLE TYPE CODE 5                   44
dtype: int64

In [5]:
nyc_data.fillna(0)

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE KEY,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/16/2019,0:00,BROOKLYN,11208,40.681927,-73.870720,"(40.681927, -73.87072)",ATLANTIC AVENUE,HEMLOCK STREET,0,...,0,0,0,0,4098779,Station Wagon/Sport Utility Vehicle,0,0,0,0
1,03/16/2019,0:00,MANHATTAN,10016,40.749100,-73.984085,"(40.7491, -73.984085)",5 AVENUE,WEST 35 STREET,0,...,Driver Inattention/Distraction,0,0,0,4097559,Sedan,Garbage or Refuse,0,0,0
2,03/16/2019,0:00,QUEENS,11412,40.696064,-73.763084,"(40.696064, -73.763084)",MEXICO STREET,DORMANS ROAD,0,...,Unspecified,0,0,0,4098023,Sedan,Sedan,0,0,0
3,03/16/2019,0:00,0,0,40.841843,-73.945390,"(40.841843, -73.94539)",HENRY HUDSON PARKWAY,0,0,...,Unspecified,0,0,0,4098377,Sedan,Taxi,0,0,0
4,03/16/2019,0:00,BRONX,10451,40.811733,-73.926700,"(40.811733, -73.9267)",MORRIS AVENUE,EAST 139 STREET,0,...,Unspecified,0,0,0,4097667,Sedan,Sedan,0,0,0
5,03/16/2019,0:00,0,0,0.000000,0.000000,0,BELT PARKWAY RAMP,0,0,...,Unspecified,0,0,0,4097655,Sedan,Sedan,0,0,0
6,03/16/2019,0:00,0,0,40.684647,-73.868700,"(40.684647, -73.8687)",FULTON STREET,0,0,...,Unspecified,0,0,0,4098794,Sedan,Sedan,0,0,0
7,03/16/2019,0:10,QUEENS,11103,40.758316,-73.910690,"(40.758316, -73.91069)",48 STREET,31 AVENUE,0,...,0,0,0,0,4099230,Station Wagon/Sport Utility Vehicle,0,0,0,0
8,03/16/2019,0:11,MANHATTAN,10006,40.709686,-74.011680,"(40.709686, -74.01168)",CHURCH STREET,LIBERTY STREET,0,...,Unspecified,0,0,0,4097499,Station Wagon/Sport Utility Vehicle,Box Truck,0,0,0
9,03/16/2019,0:15,0,0,40.699930,-73.961880,"(40.69993, -73.96188)",BROOKLYN QUEENS EXPRESSWAY,0,0,...,Driver Inattention/Distraction,0,0,0,4098619,Station Wagon/Sport Utility Vehicle,0,0,0,0
10,03/16/2019,0:20,BRONX,10451,0.000000,0.000000,0,EAST 138 STREET,EXTERIOR STREET,0,...,Unspecified,0,0,0,4097700,Sedan,Sedan,0,0,0
11,03/16/2019,0:30,QUEENS,11434,40.667430,-73.766760,"(40.66743, -73.76676)",NORTH CONDUIT AVENUE,FARMERS BOULEVARD,0,...,Unspecified,0,0,0,4098007,Sedan,Station Wagon/Sport Utility Vehicle,0,0,0
12,03/16/2019,0:30,0,0,40.728855,-73.927820,"(40.728855, -73.92782)",BROOKLYN QUEENS EXPRESSWAY,0,0,...,Unspecified,0,0,0,4097769,Sedan,Station Wagon/Sport Utility Vehicle,0,0,0
13,03/16/2019,0:35,MANHATTAN,10022,40.763588,-73.971420,"(40.763588, -73.97142)",EAST 59 STREET,MADISON AVENUE,0,...,Traffic Control Disregarded,0,0,0,4098034,Station Wagon/Sport Utility Vehicle,Sedan,0,0,0
14,03/16/2019,0:43,MANHATTAN,10065,40.759910,-73.958820,"(40.75991, -73.95882)",EAST 61 STREET,YORK AVENUE,0,...,Unspecified,0,0,0,4098030,Taxi,Station Wagon/Sport Utility Vehicle,0,0,0
15,03/16/2019,0:44,QUEENS,11385,40.692978,-73.901920,"(40.692978, -73.90192)",0,0,56-05 COOPER AVENUE,...,Unspecified,0,0,0,4098126,Sedan,Station Wagon/Sport Utility Vehicle,0,0,0
16,03/16/2019,0:45,0,0,40.721650,-73.941960,"(40.72165, -73.94196)",MEEKER AVENUE,MONITOR STREET,0,...,Unspecified,0,0,0,4097495,Sedan,Sedan,0,0,0
17,03/16/2019,10:00,BROOKLYN,11207,40.669094,-73.897110,"(40.669094, -73.89711)",SUTTER AVENUE,GEORGIA AVENUE,0,...,Unspecified,0,0,0,4098782,Sedan,Station Wagon/Sport Utility Vehicle,0,0,0
18,03/16/2019,10:00,QUEENS,11693,40.586506,-73.817730,"(40.586506, -73.81773)",BEACH 95 STREET,ROCKAWAY FREEWAY,0,...,0,0,0,0,4097592,Sedan,0,0,0,0
19,03/16/2019,10:00,0,0,40.683582,-73.953964,"(40.683582, -73.953964)",BEDFORD AVENUE,0,0,...,Unspecified,0,0,0,4098815,Station Wagon/Sport Utility Vehicle,0,0,0,0
20,03/16/2019,10:00,0,0,40.666610,-73.876144,"(40.66661, -73.876144)",HEGEMAN AVENUE,0,0,...,0,0,0,0,4098791,Sedan,0,0,0,0
21,03/16/2019,10:00,0,0,40.765520,-73.980040,"(40.76552, -73.98004)",WEST 57 STREET,0,0,...,Unspecified,0,0,0,4098352,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,0,0,0
22,03/16/2019,10:11,0,0,40.690907,-73.955420,"(40.690907, -73.95542)",DE KALB AVENUE,0,0,...,Unspecified,0,0,0,4098601,Station Wagon/Sport Utility Vehicle,Sedan,0,0,0
23,03/16/2019,10:15,BRONX,10460,40.845985,-73.884476,"(40.845985, -73.884476)",EAST 180 STREET,SOUTHERN BOULEVARD,0,...,Unspecified,0,0,0,4098751,Sedan,0,0,0,0
24,03/16/2019,10:15,MANHATTAN,10065,40.765213,-73.970245,"(40.765213, -73.970245)",0,0,682 MADISON AVENUE,...,Unspecified,0,0,0,4097609,Station Wagon/Sport Utility Vehicle,0,0,0,0
25,03/16/2019,10:15,0,0,40.762264,-73.785270,"(40.762264, -73.78527)",39 AVENUE,0,0,...,Unspecified,0,0,0,4097576,Station Wagon/Sport Utility Vehicle,Sedan,0,0,0
26,03/16/2019,10:19,BROOKLYN,11222,40.722107,-73.942990,"(40.722107, -73.94299)",0,0,75 NORTH HENRY STREET,...,Unspecified,0,0,0,4097742,Sedan,0,0,0,0
27,03/16/2019,10:20,BROOKLYN,11215,40.667027,-73.995200,"(40.667027, -73.9952)",3 AVENUE,PROSPECT AVENUE,0,...,Unspecified,0,0,0,4097604,Station Wagon/Sport Utility Vehicle,Sedan,0,0,0
28,03/16/2019,10:20,BROOKLYN,11217,40.680733,-73.974510,"(40.680733, -73.97451)",6 AVENUE,BERGEN STREET,0,...,Unspecified,0,0,0,4097597,Box Truck,Station Wagon/Sport Utility Vehicle,0,0,0
29,03/16/2019,10:20,0,0,40.658070,-73.960434,"(40.65807, -73.960434)",FLATBUSH AVENUE,0,0,...,Driver Inattention/Distraction,0,0,0,4097770,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1462084,07/01/2012,8:27,BROOKLYN,11216,40.680857,-73.938546,"(40.6808571, -73.9385457)",DECATUR STREET,ALBANY AVENUE,0,...,Unspecified,0,0,0,179414,PASSENGER VEHICLE,LIVERY VEHICLE,0,0,0
1462085,07/01/2012,8:27,0,0,40.708797,-73.727620,"(40.7087971, -73.72762)",0,0,0,...,0,0,0,0,3016724,PASSENGER VEHICLE,0,0,0,0
1462086,07/01/2012,8:30,0,0,0.000000,0.000000,0,WEST 181 STREET,RIVERSIDE DRIVE,0,...,0,0,0,0,70031,PASSENGER VEHICLE,0,0,0,0
1462087,07/01/2012,8:34,BROOKLYN,11213,40.668798,-73.931120,"(40.6687978, -73.9311201)",EASTERN PARKWAY,UTICA AVENUE,0,...,Unspecified,0,0,0,172551,PASSENGER VEHICLE,VAN,0,0,0
1462088,07/01/2012,8:37,QUEENS,11435,40.694545,-73.802112,"(40.6945453, -73.802112)",SOUTH ROAD,SUTPHIN BOULEVARD,0,...,0,0,0,0,208724,UNKNOWN,0,0,0,0
1462089,07/01/2012,8:43,0,0,0.000000,0.000000,0,HORACE HARDING EXPRESSWAY,UTOPIA PARKWAY,0,...,Unspecified,0,0,0,233142,PASSENGER VEHICLE,TAXI,0,0,0
1462090,07/01/2012,8:58,BRONX,10466,40.891840,-73.862740,"(40.8918398, -73.8627401)",BRONX BOULEVARD,EAST 229 STREET,0,...,Unspecified,0,0,0,94868,SPORT UTILITY / STATION WAGON,UNKNOWN,0,0,0
1462091,07/01/2012,9:00,QUEENS,11101,40.744131,-73.927047,"(40.7441309, -73.9270473)",38 STREET,QUEENS BOULEVARD,0,...,Unspecified,0,0,0,238643,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,0,0,0
1462092,07/01/2012,9:00,MANHATTAN,10022,40.757859,-73.975592,"(40.7578587, -73.975592)",EAST 50 STREET,MADISON AVENUE,0,...,0,0,0,0,37634,TAXI,0,0,0,0
1462093,07/01/2012,9:15,BROOKLYN,11233,40.675380,-73.908196,"(40.6753803, -73.9081956)",PACIFIC STREET,EASTERN PARKWAY,0,...,Unspecified,0,0,0,160103,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,0,0,0
1462094,07/01/2012,9:15,QUEENS,11421,40.696308,-73.851549,"(40.6963077, -73.8515486)",94 STREET,85 ROAD,0,...,Unspecified,0,0,0,203690,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
1462095,07/01/2012,9:15,QUEENS,11429,40.711860,-73.735538,"(40.7118601, -73.7355383)",219 STREET,104 AVENUE,0,...,Unspecified,0,0,0,219394,PASSENGER VEHICLE,UNKNOWN,0,0,0
1462096,07/01/2012,9:15,STATEN ISLAND,10310,40.634748,-74.112253,"(40.6347476, -74.1122528)",CASTLETON AVENUE,BEMENT AVENUE,0,...,Unspecified,0,0,0,284646,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
1462097,07/01/2012,9:20,0,0,0.000000,0.000000,0,FOOD CENTER DRIVE,HALLECK STREET,0,...,0,0,0,0,76204,LARGE COM VEH(6 OR MORE TIRES),0,0,0,0
1462098,07/01/2012,9:24,QUEENS,11411,40.690917,-73.728179,"(40.6909168, -73.7281786)",LINDEN BOULEVARD,234 STREET,0,...,Unspecified,0,0,0,219398,PASSENGER VEHICLE,UNKNOWN,0,0,0
1462099,07/01/2012,9:30,BRONX,10475,40.861637,-73.824326,"(40.8616372, -73.8243256)",HUNTER AVENUE,EARHART LANE,0,...,Unspecified,0,0,0,88535,PASSENGER VEHICLE,UNKNOWN,0,0,0
1462100,07/01/2012,9:30,BROOKLYN,11219,40.626826,-73.996790,"(40.626826, -73.9967902)",61 STREET,NEW UTRECHT AVENUE,0,...,Unspecified,0,0,0,129899,PASSENGER VEHICLE,UNKNOWN,0,0,0
1462101,07/01/2012,9:30,QUEENS,11368,40.755336,-73.843245,"(40.7553365, -73.8432452)",ROOSEVELT AVENUE,126 STREET,0,...,Unspecified,Unspecified,0,0,254997,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0
1462102,07/01/2012,9:30,BROOKLYN,11207,40.678163,-73.897477,"(40.6781627, -73.8974769)",JAMAICA AVENUE,PENNSYLVANIA AVENUE,0,...,Unspecified,0,0,0,163374,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,0,0,0
1462103,07/01/2012,9:39,BROOKLYN,11226,40.646518,-73.958105,"(40.6465177, -73.958105)",TILDEN AVENUE,FLATBUSH AVENUE,0,...,Unspecified,0,0,0,147454,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,0,0,0
1462104,07/01/2012,9:40,BRONX,10462,40.839882,-73.857658,"(40.8398819, -73.8576576)",METROPOLITAN AVENUE,MAPLE DRIVE,0,...,Unspecified,0,0,0,80827,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,0,0,0
1462105,07/01/2012,9:40,MANHATTAN,10002,40.714069,-73.997504,"(40.7140687, -73.9975038)",DIVISION STREET,CATHERINE STREET,0,...,Driver Inexperience,0,0,0,5294,PASSENGER VEHICLE,LIVERY VEHICLE,0,0,0
1462106,07/01/2012,9:40,QUEENS,11354,40.764455,-73.831773,"(40.7644548, -73.831773)",35 AVENUE,FARRINGTON STREET,0,...,Unspecified,0,0,0,245559,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0,0
1462107,07/01/2012,9:40,QUEENS,11369,40.767470,-73.881859,"(40.7674704, -73.8818593)",23 AVENUE,88 STREET,0,...,Unspecified,0,0,0,279641,PICK-UP TRUCK,SPORT UTILITY / STATION WAGON,0,0,0
1462108,07/01/2012,9:40,QUEENS,11370,40.758743,-73.890690,"(40.7587426, -73.8906895)",31 AVENUE,77 STREET,0,...,Unspecified,0,0,0,279639,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,0,0,0
1462109,07/01/2012,9:45,0,0,0.000000,0.000000,0,0,0,0,...,Unspecified,0,0,0,2896726,PASSENGER VEHICLE,UNKNOWN,0,0,0
1462110,07/01/2012,9:50,MANHATTAN,10019,40.766779,-73.996762,"(40.7667789, -73.9967618)",WEST SIDE HIGHWAY,WEST 50 STREET,0,...,Unspecified,0,0,0,37635,VAN,SPORT UTILITY / STATION WAGON,0,0,0
1462111,07/01/2012,9:50,QUEENS,11001,40.736245,-73.702966,"(40.7362448, -73.7029656)",265 STREET,85 AVENUE,0,...,Unspecified,0,0,0,219395,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,0,0,0
1462112,07/01/2012,9:57,MANHATTAN,10065,40.765242,-73.957868,"(40.7652424, -73.9578679)",1 AVENUE,EAST 68 STREET,0,...,Other Vehicular,0,0,0,44907,PASSENGER VEHICLE,TAXI,0,0,0
1462113,07/01/2012,9:59,BRONX,10452,40.835397,-73.920305,"(40.835397, -73.920305)",EAST 167 STREET,GERARD AVENUE,0,...,Unspecified,0,0,0,85154,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,0,0,0

In [7]:
nyc_data["CONTRIBUTING FACTOR VEHICLE 1"].value_counts()

Unspecified                                              557038
Driver Inattention/Distraction                           260871
Failure to Yield Right-of-Way                             81545
Following Too Closely                                     66710
Backing Unsafely                                          54886
Other Vehicular                                           46778
Fatigued/Drowsy                                           46719
Turning Improperly                                        37957
Passing or Lane Usage Improper                            31504
Passing Too Closely                                       28643
Unsafe Lane Changing                                      26062
Traffic Control Disregarded                               22182
Driver Inexperience                                       21264
Lost Consciousness                                        19478
Prescription Medication                                   15341
Pavement Slippery                                         15246
Alcohol Involvement                                       13760
Reaction to Uninvolved Vehicle                            11523
Outside Car Distraction                                   11504
Unsafe Speed                                              11441
Oversized Vehicle                                          9547
Physical Disability                                        9132
View Obstructed/Limited                                    8482
Passenger Distraction                                      6399
Aggressive Driving/Road Rage                               5497
Pedestrian/Bicyclist/Other Pedestrian Error/Confusion      4630
Brakes Defective                                           4530
Fell Asleep                                                3288
Glare                                                      3118
Obstruction/Debris                                         3034
                                                          ...
Other Electronic Device                                    2281
Illness                                                    2158
Pavement Defective                                         1782
Steering Failure                                           1637
Tire Failure/Inadequate                                    1565
Reaction to Other Uninvolved Vehicle                       1337
Animals Action                                              996
Illnes                                                      755
Lane Marking Improper/Inadequate                            745
Accelerator Defective                                       700
Driverless/Runaway Vehicle                                  691
Traffic Control Device Improper/Non-Working                 617
Drugs (Illegal)                                             419
Drugs (illegal)                                             391
Cell Phone (hand-Held)                                      284
Cell Phone (hands-free)                                     241
Tow Hitch Defective                                         143
Other Lighting Defects                                      130
80                                                          101
Using On Board Navigation Device                             86
Headlights Defective                                         83
Cell Phone (hand-held)                                       79
Eating or Drinking                                           72
Tinted Windows                                               67
Windshield Inadequate                                        66
Shoulders Defective/Improper                                 66
Vehicle Vandalism                                            66
Texting                                                      33
Listening/Using Headphones                                   14
1                                                            10
Name: CONTRIBUTING FACTOR VEHICLE 1, Length: 61, dtype: int64

In [9]:
nyc_data['BOROUGH'].value_counts()

BROOKLYN         317205
QUEENS           270939
MANHATTAN        250598
BRONX            140721
STATEN ISLAND     46416
Name: BOROUGH, dtype: int64

In [11]:
nyc_data['DATE'].value_counts()

01/21/2014    1161
11/15/2018    1064
12/15/2017     999
05/19/2017     974
01/18/2015     961
02/03/2014     960
03/06/2015     939
05/18/2017     911
01/07/2017     897
03/02/2018     884
12/14/2017     883
09/30/2016     872
11/26/2013     867
11/09/2018     865
04/28/2017     857
03/08/2013     851
10/21/2016     851
06/22/2017     845
06/29/2018     844
12/14/2018     841
03/16/2017     839
06/14/2018     833
10/30/2017     832
10/27/2016     831
03/05/2015     830
10/12/2018     829
06/13/2017     829
09/15/2017     827
10/20/2017     823
09/06/2018     821
              ...
09/03/2012     373
01/13/2013     373
01/06/2019     372
10/30/2012     372
05/29/2017     371
01/13/2019     370
12/25/2016     365
02/01/2015     361
07/04/2014     360
01/20/2014     360
10/31/2015     357
01/21/2013     355
12/25/2012     354
12/28/2014     349
11/02/2012     345
03/02/2014     344
11/04/2012     344
01/11/2015     341
12/25/2017     333
12/25/2018     329
12/25/2015     321
01/05/2014     320
11/01/2015     312
02/14/2016     309
11/03/2012     307
12/25/2014     303
10/29/2012     298
02/15/2016     291
12/25/2013     257
01/27/2015     188
Name: DATE, Length: 2450, dtype: int64

In [13]:
nyc_data['ZIP CODE'].value_counts()

11207.0    11713
11101.0     8897
10019.0     8718
11236.0     8477
10036.0     8308
10016.0     8211
11234.0     8135
10001.0     8122
11203.0     8117
11385.0     8050
11201.0     8000
11226.0     7807
10022.0     7807
11434.0     7631
11212.0     7343
11208.0     7276
10013.0     7228
10002.0     7117
11233.0     6745
11230.0     6687
11206.0     6524
11207       6439
10467.0     6352
11354.0     6322
10018.0     6242
11211.0     6178
11220.0     6114
11368.0     6037
11373.0     5846
11235.0     5773
           ...
10120.0        7
10170.0        7
10177.0        7
10000          7
10279.0        6
10154.0        6
10115.0        5
11359          5
11695.0        5
10151.0        4
10106.0        4
10103.0        4
11359.0        4
10045.0        4
10171.0        4
10173.0        3
10107.0        3
10152.0        3
10167.0        2
10803          2
10158.0        2
11242.0        2
10122.0        1
11251.0        1
10176.0        1
10048          1
10166.0        1
11241.0        1
10179.0        1
10153          1
Name: ZIP CODE, Length: 421, dtype: int64

In [14]:
nyc_data['VEHICLE TYPE CODE 1'].value_counts()

PASSENGER VEHICLE                      715236
SPORT UTILITY / STATION WAGON          313499
Sedan                                   91582
Station Wagon/Sport Utility Vehicle     72115
TAXI                                    50670
VAN                                     26540
OTHER                                   23982
PICK-UP TRUCK                           23069
UNKNOWN                                 19929
SMALL COM VEH(4 TIRES)                  14559
LARGE COM VEH(6 OR MORE TIRES)          14527
BUS                                     14057
LIVERY VEHICLE                          10481
Taxi                                     9673
MOTORCYCLE                               6536
Pick-up Truck                            6123
BICYCLE                                  5568
Box Truck                                5269
Bus                                      4347
Bike                                     2609
TK                                       2485
Tractor Truck Diesel                     2470
AMBULANCE                                2406
BU                                       2229
Van                                      1872
Motorcycle                               1054
DS                                       1006
Convertible                               885
FIRE TRUCK                                850
4 dr sedan                                820
                                        ...
SNOW                                        1
vol                                         1
Cat 9                                       1
NYC M                                       1
MAC T                                       1
rmb                                         1
4whee                                       1
NYC B                                       1
12 Pa                                       1
VAV                                         1
Fd fi                                       1
HO                                          1
FD NY                                       1
INTER                                       1
rd/s                                        1
COM T                                       1
Lift                                        1
P/SE                                        1
Semi                                        1
Wagon                                       1
Limou                                       1
EPO                                         1
CHERR                                       1
BK                                          1
2 WHE                                       1
seagr                                       1
Boom                                        1
MAXIM                                       1
spec                                        1
R/V                                         1
Name: VEHICLE TYPE CODE 1, Length: 611, dtype: int64

In [15]:
nyc_data['VEHICLE TYPE CODE 2'].value_counts()

PASSENGER VEHICLE                      537549
SPORT UTILITY / STATION WAGON          237846
UNKNOWN                                 81454
Sedan                                   68862
Station Wagon/Sport Utility Vehicle     56435
TAXI                                    41976
BICYCLE                                 26945
OTHER                                   25785
VAN                                     24397
PICK-UP TRUCK                           21542
SMALL COM VEH(4 TIRES)                  15869
LARGE COM VEH(6 OR MORE TIRES)          13970
BUS                                     11558
LIVERY VEHICLE                           8458
Taxi                                     7841
MOTORCYCLE                               5963
Pick-up Truck                            5608
Box Truck                                5094
Bike                                     3454
Bus                                      3363
TK                                       2754
BU                                       1992
Tractor Truck Diesel                     1968
Van                                      1539
AMBULANCE                                1350
DS                                       1014
Motorcycle                                750
Dump                                      721
VN                                        651
FIRE TRUCK                                619
                                        ...
E-Bik                                       1
Work                                        1
G PAS                                       1
GARAB                                       1
Us po                                       1
SBN                                         1
us ma                                       1
cemen                                       1
18 Wh                                       1
Wagon                                       1
city                                        1
D1                                          1
Tr                                          1
frieg                                       1
Com t                                       1
us po                                       1
cater                                       1
VT                                          1
rv                                          1
ram                                         1
plow                                        1
COM T                                       1
Grain                                       1
motor                                       1
WC                                          1
VAN W                                       1
HOE-L                                       1
JOHN                                        1
Boom                                        1
R/V                                         1
Name: VEHICLE TYPE CODE 2, Length: 559, dtype: int64

In [16]:
nyc_data['VEHICLE TYPE CODE 3'].value_counts()

PASSENGER VEHICLE                      63654
SPORT UTILITY / STATION WAGON          33161
Sedan                                   6005
Station Wagon/Sport Utility Vehicle     4888
UNKNOWN                                 3285
TAXI                                    3218
PICK-UP TRUCK                           2292
VAN                                     1489
OTHER                                   1108
BICYCLE                                  533
SMALL COM VEH(4 TIRES)                   479
MOTORCYCLE                               464
LARGE COM VEH(6 OR MORE TIRES)           448
LIVERY VEHICLE                           424
BUS                                      403
Taxi                                     392
Pick-up Truck                            354
Box Truck                                121
Bus                                       85
TK                                        73
BU                                        63
Tractor Truck Diesel                      57
Van                                       56
Bike                                      54
Motorcycle                                52
4 dr sedan                                42
DS                                        33
Convertible                               30
FIRE TRUCK                                27
VN                                        25
                                       ...
tract                                      1
TRACT                                      1
FLATB                                      1
Util                                       1
Tow Truck                                  1
Bulk Agriculture                           1
GRAY                                       1
LF                                         1
MD                                         1
OMNIB                                      1
Freig                                      1
DUMPS                                      1
38AB-                                      1
BOX T                                      1
POSTA                                      1
P/SH                                       1
VT                                         1
BLUE                                       1
PM                                         1
COM                                        1
forkl                                      1
MOPED                                      1
MV                                         1
UNKNO                                      1
Ambul                                      1
bsd                                        1
TOW T                                      1
TN                                         1
Sanit                                      1
frieg                                      1
Name: VEHICLE TYPE CODE 3, Length: 119, dtype: int64

In [17]:
nyc_data['TIME'].value_counts()

16:00    21547
17:00    21157
15:00    20875
18:00    19494
14:00    18929
13:00    17491
19:00    16061
9:00     15925
16:30    15893
12:00    15587
14:30    14890
17:30    14845
8:00     14538
10:00    14414
11:00    14152
18:30    13128
20:00    12765
8:30     12496
13:30    12397
12:30    11889
15:30    11842
9:30     11836
11:30    11327
0:00     10831
10:30    10722
19:30    10659
21:00    10428
22:00     9103
20:30     8297
23:00     7641
         ...
3:54        60
5:21        60
5:51        60
3:14        59
3:53        59
4:31        58
4:59        58
2:29        57
4:01        57
4:33        56
3:21        56
3:36        56
3:39        55
3:34        55
5:31        55
4:04        55
3:01        54
4:06        54
2:51        54
3:24        53
2:31        53
3:59        52
3:43        52
3:32        52
2:59        50
3:51        50
4:02        50
4:03        48
3:41        47
3:31        39
Name: TIME, Length: 1440, dtype: int64