In [1]:
import pandas as pd
import numpy as np
import warnings
from datetime import datetime
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

In [4]:
file= "../data/cleandata/coll_n_weather.csv" 

coll_n_weather = pd.read_csv(file)
coll_n_weather.head()

,UNIX DATE,DATE,HOUR,DAY,MONTH,YEAR,BOROUGH,DEATHS,INJURIES,ZIP CODE,...,precipProbability,pressure,temperatureMax,temperatureMaxTime,temperatureMin,temperatureMinTime,visibility,windGust,windGustTime,windSpeed
0,1546279200,12/31/2018,18,Monday,12,2018,BRONX,0.0,0,10454.0,...,1.0,1024.06,45.56,1546315200,31.21,1546261200,8.04,9.14,1546304400,3.2
1,1546279200,12/31/2018,18,Monday,12,2018,BRONX,0.0,0,10471.0,...,1.0,1024.06,45.56,1546315200,31.21,1546261200,8.04,9.14,1546304400,3.2
2,1546279200,12/31/2018,18,Monday,12,2018,BROOKLYN,0.0,0,11203.0,...,1.0,1024.06,45.56,1546315200,31.21,1546261200,8.04,9.14,1546304400,3.2
3,1546279200,12/31/2018,18,Monday,12,2018,BROOKLYN,0.0,0,11219.0,...,1.0,1024.06,45.56,1546315200,31.21,1546261200,8.04,9.14,1546304400,3.2
4,1546279200,12/31/2018,18,Monday,12,2018,STATEN ISLAND,0.0,0,10301.0,...,1.0,1024.06,45.56,1546315200,31.21,1546261200,8.04,9.14,1546304400,3.2

In [11]:
coll_n_weather["Summary"].value_counts()

Mostly cloudy throughout the day.                                        2125
Clear throughout the day.                                                1488
Mostly cloudy until evening.                                              827
Partly cloudy throughout the day.                                         743
Partly cloudy until evening.                                              623
Partly cloudy starting in the afternoon, continuing until evening.        620
Overcast throughout the day.                                              544
Mostly cloudy until afternoon.                                            483
Partly cloudy in the morning.                                             475
Mostly cloudy starting in the afternoon.                                  433
Partly cloudy starting in the afternoon.                                  386
Mostly cloudy in the morning.                                             385
Partly cloudy until afternoon.                                            383
Rain in the morning.                                                      331
Light rain in the morning.                                                308
Partly cloudy overnight.                                                  296
Partly cloudy in the afternoon.                                           265
Rain overnight.                                                           257
Partly cloudy starting in the evening.                                    252
Rain starting in the evening.                                             243
Foggy in the morning.                                                     227
Mostly cloudy starting in the evening.                                    225
Rain until afternoon.                                                     190
Humid and mostly cloudy throughout the day.                               155
Light rain overnight.                                                     145
Foggy overnight.                                                          129
Mostly cloudy overnight.                                                  120
Rain starting in the afternoon, continuing until evening.                 113
Rain in the evening.                                                      111
Foggy starting in the afternoon, continuing until evening.                 94
                                                                         ...
Light rain in the morning and evening.                                     11
Humid throughout the day and mostly cloudy starting in the afternoon.      11
Light snow (< 1 in.) until afternoon.                                      11
Heavy rain throughout the day.                                             11
Light rain in the evening and overnight.                                   10
Partly cloudy in the morning and humid throughout the day.                 10
Overcast until afternoon.                                                   9
Mixed precipitation starting in the evening.                                9
Heavy rain in the evening.                                                  9
Snow (< 1 in.) until afternoon.                                             8
Heavy rain in the morning and afternoon.                                    8
Mixed precipitation in the morning and afternoon.                           8
Partly cloudy starting in the afternoon and humid throughout the day.       8
Humid throughout the day and partly cloudy overnight.                       7
Humid throughout the day and partly cloudy in the morning.                  7
Mostly cloudy in the afternoon.                                             7
Light sleet in the evening.                                                 7
Mixed precipitation (1â€“2 in. of snow) until afternoon.                      6
Light rain until afternoon, starting again overnight.                       5
Heavy rain until afternoon, starting again overnight.                       5
Humid throughout the day and mostly cloudy until evening.                   5
Mixed precipitation in the morning.                                         5
Foggy throughout the day.                                                   5
Light rain until afternoon, starting again in the evening.                  4
Humid throughout the day and mostly cloudy in the morning.                  4
Overcast starting in the afternoon.                                         3
Foggy in the evening.                                                       3
Mixed precipitation until afternoon.                                        3
Mixed precipitation in the morning and evening.                             3
Light snow in the afternoon.                                                1
Name: Summary, Length: 114, dtype: int64

In [29]:
summary_data= coll_n_weather[["Summary", "INJURIES", "DEATHS"]]
summary_group=summary_data.groupby("Summary")
summary_group.sum().head()

                                                    INJURIES  DEATHS
Summary
Clear throughout the day.                                366     2.0
Foggy in the afternoon.                                    3     0.0
Foggy in the evening.                                      0     0.0
Foggy in the morning and humid throughout the day.         2     0.0
Foggy in the morning.                                     58     0.0

In [ ]:
#test bar grapy Injuries vs weather summary. DO we want this???

x_axis = np.arange(len(coll_n_weather))
tick_locations = [value+0.4 for value in x_axis]

x_axis= coll_n_weather["Summary"]
height1= coll_n_weather["INJURIES"]
height2= coll_n_weather["DEATHS"]
width=0.8

p1= plt.bar(x_axis, height1, width, bottom=None, align='center', data=None)
p2= plt.bar(x_axis, height2, width, bottom=height1, align='center', data=None)

plt.ylabel('Number of Injuries and Deaths')
plt.title('Number of Injuries and Deaths vs. Weather Summary')
#plt.xticks(i)
#plt.yticks(np.arange(0, 81, 10))
plt.legend((p1[0], p2[0]), ('Injuries', 'Deaths'))


plt.show()

In [ ]:
#Number of Persons Injured vs. Months

In [ ]:
plt